.holder{
  margin:60px auto;
  max-width: 500px;
}
.product-img{
  max-width: 320px;
}
.username{
  color:lawngreen!important;
}
.userprofile{
  margin-top: 75px;
  max-width: 500px;
}
.file-drop-holder{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
   
}
.avatar{
  border-radius: 50%;
}
.username{
  padding:0!important;
}